$mdc-theme-primary: #58006e;
$mdc-theme-secondary: #c47c39;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@mixin notoserif {
    font-family: 'Raleway', sans-serif;
}
@import "reset";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/card/mdc-card";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "_data-table";

html {
    background-color: #ead1ff;
    min-height: 100vh;
}
body {
    min-height: 100vh;
}
.baobab_pagecard {
    line-height: 1.6;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    p {
        margin-left: 5%;
        margin-right: 5%;
    }
    ul, ol {
        margin-left: 8%;
        margin-right: 8%;
    }
}
.baobab_table {
    border-spacing: 6px;
    td {
        @include mdc-elevation(2);
        padding: 10px;
    }
}
.mdl-data-table {
    @include mdc-elevation(2);
    margin: 1%;
    border-radius: 4px;
}
.mdc-typography {
    @include notoserif;
    h1 {
        @include notoserif;
    }
    .mdc-top-app-bar__title {
        @include notoserif;
        font-weight: 700;
    }
}
.baobab_data-table {
    border-collapse: collapse;
    margin: 1%;
    @include mdc-elevation(2);
    tr { 
        border: solid;
        border-color: rgb(201, 199, 199);
        border-width: 1px 0;
        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    td, th {
        padding: 5px;
        &:first-child {
            padding-left: 1%;
        }
    }
}